* {
	font-size: 12px;
}

html {
	background: #e2e2e2 url("/resources/images/flowers-left.png") no-repeat fixed 0 400px;
}

body {
	padding: 0px;
}

.input-title {
	width: 200px;
}

.form-container label {
	width: 150px;
}

.form-container .datebox{
	margin-left: 20px;
}

.form-container .combo{
	margin-left: 20px;
}

.row_disable{
	
	background-color:#777A7C;
	color:#fff;
	
	
}

.form-container .textbox{
	width: 150px;
	border: 2px inset;
	margin-top:2px;
}

.form-container div{
	margin-top:5px;
}

.form-container .textbox-long{
	width: 250px;
	border: 2px inset;
}

.form-container  .r-edit-label{
	display: inline-block;
	width : 100px;
}
.form-container input {
	margin-left: 20px;
}

.form-container span {
	text-align: right;
}

.form-container textarea {
	margin-left: 20px;
	height: 120px;
	width:400px;
}
