.view-login {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	text-indent: 20px;
	background: #3987cf url(../images/login_bg.jpg) no-repeat center 30px;
	border: 1px solid #cdcdcd;
}

#form-login {
	margin-top: 150px;
	margin-left: 40%;
}

.head {
	width: 100%;
	background-image: url(/resources/images/head_pic.jpg);
	background-repeat: repeat-x;
}

.head a {
	text-decoration: none;
}

.head .nav {
	float: left;
	width: 100%;
	clear: both;
	background-image: url(/resources/images/nav_bg.jpg);
	background-repeat: repeat-x;
	height: 28px;
}

.nav .user {
	float: left;
	height: 20px;
	padding-left: 15px;
	color: #777676;
	background-image: url(/resources/images/user.png);
	text-indent: 15px;
	background-repeat: no-repeat;
	width: 200px;
	margin-top: 5px;
	margin-left: 10px;
}

.head-left {
	width: 100%;
	height: 92px;

}

.left ul li {
	list-style: none;
	margin-left: 8px;
	line-height: 2;
	font-size: 14px;
}

.left ul li a{
	margin-left: 8px;

}

.left ul {
	display: inline;
}

.head_logo {
	font-size: 3em;
}

.left {
	width: 203px;
	height: 100%;
	min-height: 650px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cecece;
	background-repeat: repeat-x;
	border-right-width: 1px;
}

.right {
	margin-left: 210px;
	margin-top: 40px;
}

.icon-sys {
	background: url('/resources/images/settings.png') no-repeat center
		center;
}

.icon-notice {
	background: url('/resources/images/notice.png') no-repeat center
		center;
}

.icon-attendance {
	background: url('/resources/images/attendance.png') no-repeat center
		center;
}
.icon-task {
	background: url('/resources/images/task.png') no-repeat center
		center;
}

.icon-project {
	background: url('/resources/images/project.png') no-repeat center
		center;
}
.icon-user {
	background: url('/resources/images/user.png') no-repeat center
		center;
}

.icon-img {
	background: url('/resources/images/img.png') no-repeat center
		center;
}

.icon-dailyreport{
	background: url('/resources/images/dailyreport.png') no-repeat center
		center;
}

.icon-reminder{
	background: url('/resources/images/reminder.png') no-repeat center
		center;
}

.icon-customer{
	background: url('/resources/images/customer.png') no-repeat center
		center;
}

.icon-salary{
	background: url('/resources/images/salary.png') no-repeat center
		center;
}