html {
	background: #e2e2e2 url("/resources/images/flowers-left.png") no-repeat
		fixed 0 400px;
}

body {
	padding: 0px;
}

.view-login {
	padding-top: 0;
	background-color: #c5c5c5;
}

#form-login {
	margin-top: 150px;
	margin-left: 40%;
}

.head {
	width: 100%;
	background-image: url(/resources/images/head_pic.jpg);
	background-repeat: repeat-x;
}

.head a {
	text-decoration: none;
}

.head .nav {
	float: left;
	width: 100%;
	clear: both;
	background-image: url(/resources/images/nav_bg.jpg);
	background-repeat: repeat-x;
	height: 28px;
}

.nav .user {
	float: left;
	height: 20px;
	padding-left: 15px;
	color: #777676;
	background-image: url(/resources/images/user.png);
	text-indent: 15px;
	background-repeat: no-repeat;
	width: 200px;
	margin-top: 5px;
	margin-left: 10px;
}

.head-left {
	width: 100%;
	height: 92px;
}

.head_logo {
	font-size: 3em;
}

.left {
	width: 203px;
	height: 100%;
	min-height: 650px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cecece;
	background-image: url(/resources/images/left_bg.jpg);
	background-repeat: repeat-x;
	border-right-width: 1px;
}

.right {
	margin-left: 210px;
	margin-top: 40px;
}